
body h2{
  display:flex;
  font-size: 20px
}
.question{
  margin: 30px 30px;
  padding: 10px;
  border: medium solid #000000;
}
.answer{
  margin: 30px 30px;
  padding: 10px;
  border: medium solid #000000;
}
.answer p{
}
